layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane close_on_exit=true command="bash" {
        args "--rcfile" "~/.wslsrc"
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
